<div class="p-3">
  <ng-container *ngIf="virements | async; else failureOrLoading">

    <div class="card">
      <div class="card-header">Virements</div>
      <div class="card-body">
        <div class="message mb-3">
          <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#formulaireModal" (click)="handleCreateVirement()">
            <i class="bi bi-person-fill-add"> Nouvelle virement</i>
          </button>
        </div>

        <form [formGroup]="searchFormGroup" (ngSubmit)="handelSearchVirements()">
          <div class="input-group mb-4">
            <label class="input-group-text">Recherche : </label>
            <input type="text" formControlName="keyword" class="form-control">
            <button class="btn btn-info">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>

        <table class="table">
          <thead>
          <tr>
            <th>Virement ID</th> <th>Beneficiare ID</th> <th>Source RIB</th> <th>Amount</th> <th>Description</th> <th>Virement Date</th><th>Type</th><th>Opérations</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let v of virements | async">

            <td>{{v.id}}</td>
            <td>{{v.beneficiaireId}}</td>
            <td>{{v.sourceRIB}}</td>
            <td>{{v.amount}}</td>
            <td>{{v.description}}</td>
            <td>{{v.virementDate}}</td>
            <td>{{v.type}}</td>

            <td>
              <button class="btn btn-success me-2" data-bs-toggle="modal" data-bs-target="#formulaireModal" (click)="editVirement(v.id)">Editer</button>

              <button class="btn btn-danger" (click)="handleDeleteVirement(v.id)">Supprimer</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </ng-container>
  <ng-template #failureOrLoading class="text-danger">

    <ng-container *ngIf="errorMessage; else loading">
      <div class="error-container text-danger">
        <div class="message">
          {{ errorMessage }}
        </div>
      </div>
    </ng-container>

    <ng-template #loading>
      Loading ...
    </ng-template>
  </ng-template>

  <div class="modal fade" id="formulaireModal" tabindex="-1" aria-labelledby="formulaireModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="formulaireModalLabel">Modifier Virement</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Lier le formulaire à formulaireModal -->
          <form [formGroup]="formulaireModal">
            <div class="mb-3">
              <label for="id" class="form-label">Virement ID</label>
              <input type="text" class="form-control readonly-field" id="id" formControlName="id" />
            </div>
            <div class="mb-3">
              <label for="beneficiaireId" class="form-label">Beneficiaire ID</label>
              <input type="text" class="form-control readonly-field " id="beneficiaireId" formControlName="beneficiaireId" />
            </div>
            <div class="mb-3">
              <label for="sourceRIB" class="form-label">Source RIB</label>
              <input type="text" class="form-control" id="sourceRIB" formControlName="sourceRIB" />
            </div>
            <div class="mb-3">
              <label for="amount" class="form-label">Amount</label>
              <input type="text" class="form-control" id="amount" formControlName="amount" />
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <input type="text" class="form-control" id="description" formControlName="description" />
            </div>
            <div class="mb-3">
              <label for="virementDate" class="form-label">Virement Date:</label>
              <input type="date" class="form-control" id="virementDate" formControlName="virementDate">
            </div>
            <div class="mb-3">
              <label for="type" class="form-label">Type</label>
              <select class="form-control" id="type" formControlName="type">
                <option value="MORALE">NORMALE</option>
                <option value="PHYSIQUE">INSTANTANE</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary" (click)="handleUpdateVirement(selectedVirement)">Modifier</button>
        </div>
      </div>
    </div>
  </div>



</div>
